#headerImage{
    width: 100%;
    height: 250px;
}
#trippadvisorImage{
    width: 75px;
    height: 75px;
}
#tripTable{
    width: 100%;
}
h2{
    background-color: #DEB887;
    font-size: 30px;
}
li{
    color: blue;
}
